.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-homeipad {
  width: 100%;
  height: 2789px;
  display: none;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.home-image14 {
  top: 32.5px;
  left: 72.3330078125px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.home-image15 {
  top: 20px;
  left: 30.666015625px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.home-text {
  top: 25.83349609375px;
  left: 335.666015625px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text002 {
  top: 25.83349609375px;
  left: 464px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text004 {
  top: 25.83349609375px;
  left: 592.3330078125px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle59 {
  top: 33.33349609375px;
  left: 433.166015625px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle60 {
  top: 33.33349609375px;
  left: 561.5px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle66 {
  top: 33.33349609375px;
  left: 296.5px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle65 {
  top: 33.33349609375px;
  left: 698.166015625px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-maintenance1 {
  top: 146px;
  left: 693px;
  width: 64px;
  height: 70px;
  position: absolute;
}
.home-text006 {
  top: 228px;
  left: 693px;
  color: rgba(20, 51, 64, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-riskmanagement1 {
  top: 146px;
  left: 841px;
  width: 63px;
  height: 70px;
  position: absolute;
}
.home-text007 {
  top: 228px;
  left: 841px;
  color: rgba(20, 51, 64, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text009 {
  top: 282px;
  left: 521px;
  color: rgba(20, 51, 64, 1);
  width: 404px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text011 {
  top: 228px;
  left: 521px;
  color: rgba(20, 51, 64, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-marketanalysis1 {
  top: 146px;
  left: 521px;
  width: 63px;
  height: 70px;
  position: absolute;
}
.home-text013 {
  top: 125px;
  left: 58px;
  color: rgba(0, 177, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 53.33333206176758px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle83 {
  top: 470px;
  left: -105px;
  width: 1200px;
  height: 689px;
  position: absolute;
}
.home-rectangle84 {
  top: 575.734375px;
  left: 70px;
  width: 850px;
  height: 479px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-polygon2 {
  top: 775.45458984375px;
  left: 534.0556640625px;
  width: 80px;
  height: 78px;
  position: absolute;
}
.home-unsplash-fo7-ilwj-ot-u {
  top: 1315px;
  left: 172px;
  width: 305px;
  height: 203px;
  position: absolute;
}
.home-unsplash-fo7-ilwj-ot-u1 {
  top: 1253px;
  left: 68px;
  width: 273px;
  height: 182px;
  position: absolute;
}
.home-rectangle85 {
  top: 1515.333251953125px;
  left: 514px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text018 {
  top: 1522.833251953125px;
  left: 536.5px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text020 {
  top: 1401.1666259765625px;
  left: 514px;
  color: rgba(20, 51, 64, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text022 {
  top: 1232px;
  left: 514px;
  color: rgba(0, 177, 196, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text024 {
  top: 1255.333251953125px;
  left: 514px;
  color: rgba(0, 177, 196, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle89 {
  top: 1612px;
  left: -8px;
  width: 1006px;
  height: 510px;
  position: absolute;
}
.home-rectangle90 {
  top: 2040px;
  left: 450px;
  width: 90px;
  height: 32px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text026 {
  top: 2046px;
  left: 469px;
  color: rgba(0, 110, 133, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text028 {
  top: 1647px;
  left: 100px;
  color: rgba(0, 177, 196, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text030 {
  top: 1666px;
  left: 100px;
  color: rgba(0, 177, 196, 1);
  width: 397px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle841 {
  top: 1754px;
  left: 143px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text032 {
  top: 1876.5001220703125px;
  left: 173.833984375px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text034 {
  top: 1919.0001220703125px;
  left: 167.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-speedometer {
  top: 1782.3333740234375px;
  left: 192.1669921875px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-rectangle68 {
  top: 1754px;
  left: 405px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text036 {
  top: 1876.5001220703125px;
  left: 435.8330078125px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text038 {
  top: 1919.0001220703125px;
  left: 419.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-riskstudy {
  top: 1786.5px;
  left: 454.1669921875px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-rectangle851 {
  top: 1754px;
  left: 667px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text040 {
  top: 1876.5001220703125px;
  left: 697.8330078125px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text042 {
  top: 1919.0001220703125px;
  left: 690.3330078125px;
  color: rgba(95, 133, 141, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-dataanalytics {
  top: 1786.5px;
  left: 726.166015625px;
  width: 63px;
  height: 63px;
  position: absolute;
}
.home-text044 {
  top: 2187px;
  left: 100px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text046 {
  top: 2212.333251953125px;
  left: 100px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle75 {
  top: 2301px;
  left: 180px;
  width: 300px;
  height: 227px;
  position: absolute;
  border-radius: 5px;
}
.home-rectangle78 {
  top: 2323.5px;
  left: 200.8330078125px;
  width: 258px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text048 {
  top: 2507.66650390625px;
  left: 396.6669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text050 {
  top: 2461.833251953125px;
  left: 203.3330078125px;
  color: rgba(0, 177, 196, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle80 {
  top: 2301px;
  left: 510.8330078125px;
  width: 301px;
  height: 227px;
  position: absolute;
  border-radius: 5px;
}
.home-rectangle77 {
  top: 2323.5px;
  left: 530.8330078125px;
  width: 260px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text052 {
  top: 2507.66650390625px;
  left: 729.1669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text054 {
  top: 2461.833251953125px;
  left: 536.6669921875px;
  color: rgba(0, 177, 196, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle2 {
  top: 2596px;
  left: -105px;
  width: 1200px;
  height: 193px;
  position: absolute;
}
.home-text056 {
  top: 2632.66650390625px;
  left: 786.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text058 {
  top: 2652.66650390625px;
  left: 689.1669921875px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text060 {
  top: 2740.16650390625px;
  left: 106.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-image16 {
  top: 2649.333251953125px;
  left: 157.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.home-image17 {
  top: 2632.66650390625px;
  left: 105px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.home-facebook-circled {
  top: 2707.66650390625px;
  left: 787.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-linked-in-circled {
  top: 2707.66650390625px;
  left: 813.3330078125px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-navlink1 {
  text-decoration: none;
}
.home-play-button-circled {
  top: 2707.66650390625px;
  left: 839.1669921875px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-circled-envelope {
  top: 2707.66650390625px;
  left: 865px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-rectangle82 {
  top: 382px;
  left: 521px;
  width: 97px;
  height: 39px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text062 {
  top: 391px;
  left: 541px;
  color: rgba(0, 110, 133, 1);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-homepgpc {
  width: 100%;
  height: 3107px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-rectangle81 {
  top: 477.5px;
  left: 0px;
  width: 1200px;
  height: 689px;
  position: absolute;
}
.home-rectangle821 {
  top: 583.234375px;
  left: 175px;
  width: 850px;
  height: 479px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-polygon21 {
  top: 782.95458984375px;
  left: 0px;
  right: 0px;
  width: 80px;
  height: 78px;
  margin: auto;
  position: absolute;
}
.home-image141 {
  top: 32.5px;
  left: 175px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.home-navlink2 {
  display: contents;
}
.home-image151 {
  top: 20px;
  left: 133.3330078125px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.home-text064 {
  top: 25.83349609375px;
  left: 438.3330078125px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text066 {
  top: 25.83349609375px;
  left: 566.6669921875px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text068 {
  top: 25.83349609375px;
  left: 695px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle811 {
  top: 20px;
  left: 960px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text070 {
  top: 31px;
  color: rgba(0, 110, 133, 1);
  right: 154px;
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle591 {
  top: 33.33349609375px;
  left: 535.8330078125px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle601 {
  top: 33.33349609375px;
  left: 664.1669921875px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle661 {
  top: 33.33349609375px;
  left: 399.1669921875px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle651 {
  top: 33.33349609375px;
  left: 800.8330078125px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.home-rectangle891 {
  top: 1748.3333740234375px;
  left: 0px;
  width: 1200px;
  height: 608px;
  position: absolute;
}
.home-rectangle21 {
  top: 2913.33349609375px;
  left: 0px;
  width: 1200px;
  height: 193px;
  position: absolute;
}
.home-text072 {
  top: 2950px;
  left: 891.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text074 {
  top: 2970px;
  left: 794.1669921875px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text076 {
  top: 3057.5px;
  left: 211.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-image142 {
  top: 2966.666748046875px;
  left: 262.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.home-image152 {
  top: 2950px;
  left: 210px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.home-facebook-circled1 {
  top: 3025px;
  left: 892.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-linked-in-circled1 {
  top: 3025px;
  left: 918.3330078125px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-play-button-circled1 {
  top: 3025px;
  left: 944.1669921875px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-circled-envelope1 {
  top: 3025px;
  left: 970px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-maintenance11 {
  top: 145.83349609375px;
  left: 821.6669921875px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-text078 {
  top: 228.3333740234375px;
  left: 821.6669921875px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-riskmanagement11 {
  top: 145.83349609375px;
  left: 985.8330078125px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-text080 {
  top: 228.3333740234375px;
  left: 985.8330078125px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-text082 {
  top: 282.5px;
  left: 630.8330078125px;
  color: rgba(20, 51, 64, 1);
  width: 448px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-unsplash-fo7-ilwj-ot-u2 {
  top: 1380.8333740234375px;
  left: 225px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.home-unsplash-fo7-ilwj-ot-u3 {
  top: 1306.666748046875px;
  left: 100.8330078125px;
  width: 325px;
  height: 217px;
  position: absolute;
}
.home-rectangle812 {
  top: 1590px;
  left: 653.3330078125px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text084 {
  top: 1597.5px;
  left: 675.8330078125px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text086 {
  top: 228.3333740234375px;
  left: 630.8330078125px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-marketanalysis11 {
  top: 145.83349609375px;
  left: 630.8330078125px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.home-text088 {
  top: 1475.8333740234375px;
  left: 653.3330078125px;
  color: rgb(20, 51, 64);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 13.3333px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-text089 {
  top: 1306.666748046875px;
  left: 653.3330078125px;
  color: rgba(0, 177, 196, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text091 {
  top: 1330px;
  left: 653.3330078125px;
  color: rgba(0, 177, 196, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text093 {
  top: 125px;
  left: 116.6669921875px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 53.33333206176758px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle813 {
  top: 2258.33349609375px;
  left: 546.6669921875px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text098 {
  top: 2265.83349609375px;
  left: 569.1669921875px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text100 {
  top: 2415.83349609375px;
  left: 119.1669921875px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text102 {
  top: 2439.166748046875px;
  left: 119.1669921875px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text104 {
  top: 1790px;
  left: 119.1669921875px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text106 {
  top: 1813.3333740234375px;
  left: 119.1669921875px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle86 {
  top: 1963.3333740234375px;
  left: 853.3330078125px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text108 {
  top: 2085.83349609375px;
  left: 866.6669921875px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text110 {
  top: 2128.33349609375px;
  left: 867.5px;
  color: rgba(95, 133, 141, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-maintenance12 {
  top: 2001.666748046875px;
  left: 912.5px;
  width: 63px;
  height: 63px;
  position: absolute;
}
.home-rectangle852 {
  top: 1963.3333740234375px;
  left: 624.1669921875px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text112 {
  top: 2085.83349609375px;
  left: 655px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text114 {
  top: 2128.33349609375px;
  left: 647.5px;
  color: rgba(95, 133, 141, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-dataanalytics1 {
  top: 1995.8333740234375px;
  left: 683.3330078125px;
  width: 63px;
  height: 63px;
  position: absolute;
}
.home-rectangle681 {
  top: 1963.3333740234375px;
  left: 395px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text116 {
  top: 2085.83349609375px;
  left: 425.8330078125px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text118 {
  top: 2128.33349609375px;
  left: 409.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-riskstudy1 {
  top: 1995.8333740234375px;
  left: 444.1669921875px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-rectangle751 {
  top: 2558.33349609375px;
  left: 117.5px;
  width: 300px;
  height: 227px;
  position: absolute;
  border-radius: 5px;
}
.home-rectangle781 {
  top: 2580.83349609375px;
  left: 138.3330078125px;
  width: 258px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text120 {
  top: 2765px;
  left: 334.1669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text122 {
  top: 2719.166748046875px;
  left: 140.8330078125px;
  color: rgba(0, 177, 196, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle842 {
  top: 1963.3333740234375px;
  left: 165.8330078125px;
  width: 181px;
  height: 255px;
  position: absolute;
  border-radius: 5px;
}
.home-text124 {
  top: 2085.83349609375px;
  left: 196.6669921875px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text126 {
  top: 2128.33349609375px;
  left: 190px;
  color: rgba(95, 133, 141, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.home-speedometer1 {
  top: 1991.666748046875px;
  left: 215px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-rectangle801 {
  top: 2558.33349609375px;
  left: 448.3330078125px;
  width: 301px;
  height: 227px;
  position: absolute;
  border-radius: 5px;
}
.home-rectangle771 {
  top: 2581px;
  left: 469px;
  width: 260px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text128 {
  top: 2765px;
  left: 666.6669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text130 {
  top: 2719.166748046875px;
  left: 474.1669921875px;
  color: rgba(0, 177, 196, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle87 {
  top: 2558.33349609375px;
  left: 780.8330078125px;
  width: 301px;
  height: 227px;
  position: absolute;
  border-radius: 5px;
}
.home-rectangle88 {
  top: 2580.83349609375px;
  left: 800.8330078125px;
  width: 260px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text132 {
  top: 2765px;
  left: 999.1669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text134 {
  top: 2719.166748046875px;
  left: 806.6669921875px;
  color: rgba(0, 177, 196, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-button1 {
  top: 385px;
  left: 631px;
  color: rgb(0, 110, 133);
  position: absolute;
  font-size: 12.5px;
  border-width: 0px;
  border-radius: 35px;
  background-color: rgb(245, 222, 111);
}
.home-homepgphone {
  width: 100%;
  height: 3686px;
  display: none;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.home-text136 {
  top: 121px;
  left: 30px;
  color: rgba(0, 177, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text140 {
  top: 121px;
  left: 30px;
  color: rgba(0, 177, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text141 {
  top: 121px;
  left: 30px;
  color: rgba(0, 177, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text142 {
  top: 121px;
  left: 30px;
  color: rgba(0, 177, 196, 1);
  width: 385px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text143 {
  top: 438px;
  left: 39px;
  color: rgba(20, 51, 64, 1);
  width: 404px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-maintenance13 {
  top: 283px;
  left: 209px;
  width: 64px;
  height: 70px;
  position: absolute;
}
.home-text145 {
  top: 365px;
  left: 209px;
  color: rgba(20, 51, 64, 1);
  width: 71px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-riskmanagement12 {
  top: 283px;
  left: 357px;
  width: 63px;
  height: 70px;
  position: absolute;
}
.home-text147 {
  top: 365px;
  left: 357px;
  color: rgba(20, 51, 64, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text149 {
  top: 365px;
  left: 37px;
  color: rgba(20, 51, 64, 1);
  width: 96px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-marketanalysis12 {
  top: 283px;
  left: 37px;
  width: 63px;
  height: 70px;
  position: absolute;
}
.home-rectangle831 {
  top: 616px;
  left: -71px;
  width: 620px;
  height: 356px;
  position: absolute;
}
.home-group25 {
  top: 671px;
  left: 20px;
  width: 439px;
  height: 247px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(245, 245, 245, 1);
}
.home-polygon22 {
  top: 103px;
  left: 239px;
  width: 41px;
  height: 40px;
  position: absolute;
}
.home-unsplash-fo7-ilwj-ot-u4 {
  top: 1087px;
  left: 135px;
  width: 305px;
  height: 203px;
  position: absolute;
}
.home-unsplash-fo7-ilwj-ot-u5 {
  top: 1025px;
  left: 31px;
  width: 273px;
  height: 182px;
  position: absolute;
}
.home-text151 {
  top: 1474px;
  left: 62px;
  color: rgba(20, 51, 64, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text153 {
  top: 1339px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  width: 327px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text155 {
  top: 1362px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-rectangle892 {
  top: 1667px;
  left: -39px;
  width: 555px;
  height: 762px;
  position: absolute;
}
.home-text157 {
  top: 1702px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  width: 83px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text159 {
  top: 1721px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group1 {
  top: 1806px;
  left: 48px;
  width: 180.8333282470703px;
  height: 255px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-text161 {
  top: 122.5001220703125px;
  left: 30.833984375px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text163 {
  top: 165.0001220703125px;
  left: 24.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-speedometer2 {
  top: 28.3333740234375px;
  left: 49.1669921875px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-group2 {
  top: 1806px;
  left: 250px;
  width: 180.8333282470703px;
  height: 255px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-text165 {
  top: 122.5001220703125px;
  left: 30.8330078125px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text167 {
  top: 165.0001220703125px;
  left: 14.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-riskstudy2 {
  top: 32.5px;
  left: 49.1669921875px;
  width: 83px;
  height: 83px;
  position: absolute;
}
.home-group3 {
  top: 2083px;
  left: 48px;
  width: 180.8333282470703px;
  height: 255px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-text169 {
  top: 122.5001220703125px;
  left: 30.8330078125px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text171 {
  top: 165.0001220703125px;
  left: 23.3330078125px;
  color: rgba(95, 133, 141, 1);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-dataanalytics2 {
  top: 32.5px;
  left: 59.166015625px;
  width: 63px;
  height: 63px;
  position: absolute;
}
.home-group8 {
  top: 2083px;
  left: 250px;
  width: 180.8333282470703px;
  height: 255px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-text173 {
  top: 122.5001220703125px;
  left: 13.333984375px;
  color: rgba(0, 110, 133, 1);
  height: auto;
  position: absolute;
  font-size: 26.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text175 {
  top: 165.0001220703125px;
  left: 14.1669921875px;
  color: rgba(95, 133, 141, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-maintenance14 {
  top: 38.3333740234375px;
  left: 59.1669921875px;
  width: 63px;
  height: 63px;
  position: absolute;
}
.home-rectangle901 {
  top: 2373px;
  left: 194px;
  width: 90px;
  height: 32px;
  position: absolute;
  border-radius: 32.5px;
}
.home-rectangle902 {
  top: 2373px;
  left: 194px;
  width: 90px;
  height: 32px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text177 {
  top: 2379px;
  left: 213px;
  color: rgba(0, 110, 133, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text179 {
  top: 2379px;
  left: 213px;
  color: rgba(0, 110, 133, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text181 {
  top: 2483px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text183 {
  top: 2508.333251953125px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group9 {
  top: 2578px;
  left: 88px;
  width: 300px;
  height: 227.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-rectangle782 {
  top: 22.5px;
  left: 20.8330078125px;
  width: 258px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text185 {
  top: 206.66650390625px;
  left: 216.6669921875px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text187 {
  top: 160.833251953125px;
  left: 23.3330078125px;
  color: rgba(0, 177, 196, 1);
  width: 251px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group10 {
  top: 2841px;
  left: 88px;
  width: 300.8333435058594px;
  height: 227.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-rectangle772 {
  top: 22.66650390625px;
  left: 20.6669921875px;
  width: 260px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text189 {
  top: 206.66650390625px;
  left: 218.333984375px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text191 {
  top: 160.833251953125px;
  left: 25.833984375px;
  color: rgba(0, 177, 196, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group11 {
  top: 3104px;
  left: 89px;
  width: 300.8333435058594px;
  height: 227.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 244, 244, 1);
}
.home-rectangle881 {
  top: 22.5px;
  left: 20px;
  width: 260px;
  height: 129px;
  position: absolute;
  border-radius: 3.3333332538604736px;
}
.home-text193 {
  top: 206.66650390625px;
  left: 218.333984375px;
  color: rgba(95, 133, 141, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text195 {
  top: 160.833251953125px;
  left: 25.833984375px;
  color: rgba(0, 177, 196, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group16 {
  top: 3386px;
  left: 0px;
  width: 479px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(228, 238, 241, 1);
}
.home-image161 {
  top: 55.666748046875px;
  left: 233.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.home-image171 {
  top: 39px;
  left: 181px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.home-text197 {
  top: 124px;
  left: 189px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-text199 {
  top: 154px;
  left: 135px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-facebook-circled2 {
  top: 225px;
  left: 184px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-linked-in-circled2 {
  top: 225px;
  left: 209.8330078125px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-play-button-circled2 {
  top: 225px;
  left: 235.6669921875px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-circled-envelope2 {
  top: 225px;
  left: 261.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.home-group15 {
  top: 259px;
  left: 149px;
  width: 168px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-text201 {
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-group17 {
  top: 30px;
  left: 25px;
  width: 427.6666564941406px;
  height: 42.981285095214844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-image143 {
  top: 12.398448944091797px;
  left: 187.6669921875px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.home-navlink3 {
  display: contents;
}
.home-image153 {
  top: 0px;
  left: 146px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.home-rectangle814 {
  top: 4.959379196166992px;
  left: 321px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.home-text203 {
  top: 12.398448944091797px;
  left: 343.5px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-homeipad {
    display: flex;
  }
  .home-text006 {
    color: rgb(20, 51, 64);
    width: 100px;
    font-size: 11.6667px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 1.5px;
    text-decoration: none;
  }
  .home-text007 {
    width: 100px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-text009 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-text011 {
    width: 120px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-polygon2 {
    top: 779px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .home-button {
    top: 371px;
    left: 514px;
    color: rgb(0, 110, 133);
    position: absolute;
    font-size: 12.5px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 35px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(245, 222, 111);
  }
  .home-navlink1 {
    top: 20px;
    color: rgb(0, 110, 133);
    right: 50px;
    position: absolute;
    font-size: 12.5px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 35px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(245, 222, 111);
  }
  .home-rectangle82 {
    top: 373px;
    left: 517px;
    display: none;
  }
  .home-text062 {
    top: 382px;
    left: 537px;
    display: none;
  }
  .home-homepgpc {
    display: none;
  }
  .home-button1 {
    top: 371px;
    left: 514px;
    color: rgb(0, 110, 133);
    position: absolute;
    font-size: 12.5px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 35px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(245, 222, 111);
  }
  .home-homepgphone {
    display: none;
  }
  .home-button2 {
    top: 371px;
    left: 514px;
    color: rgb(0, 110, 133);
    position: absolute;
    font-size: 12.5px;
    padding-top: var(--dl-space-space-halfunit);
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 35px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: rgb(245, 222, 111);
  }
}
@media(max-width: 479px) {
  .home-homeipad {
    display: none;
  }
  .home-homepgphone {
    display: flex;
  }
  .home-text136 {
    top: 191px;
    left: 29px;
    color: rgb(0, 177, 196);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .home-text140 {
    top: 125px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .home-text141 {
    top: 150px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .home-text142 {
    top: 100px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .home-text143 {
    top: 471px;
    left: 40px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-maintenance13 {
    top: 326px;
    left: 206px;
  }
  .home-text145 {
    top: 408px;
    left: 206px;
    width: 90px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-riskmanagement12 {
    top: 326px;
    right: 62px;
  }
  .home-text147 {
    top: 408px;
    right: 25px;
    width: 100px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-text149 {
    top: 408px;
    left: 34px;
    width: 110px;
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-marketanalysis12 {
    top: 326px;
    left: 34px;
  }
  .home-text151 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .home-rectangle902 {
    top: 1594px;
    left: 60px;
  }
  .home-text179 {
    top: 1602px;
    left: 81px;
  }
  .home-button2 {
    top: 561px;
    left: 194px;
    position: absolute;
  }
  .home-image143 {
    top: 9px;
    left: 54px;
  }
  .home-image153 {
    top: -3px;
    left: 12px;
  }
  .home-text203 {
    top: 16px;
    right: 21px;
  }
}
