.field-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.field-fieldpc {
  width: 100%;
  height: 1880px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.field-image14 {
  top: 32.5px;
  left: 175px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.field-navlink {
  display: contents;
}
.field-image15 {
  top: 20px;
  left: 133.3333282470703px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.field-text {
  top: 25.83333396911621px;
  left: 438.3333435058594px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text002 {
  top: 25.83333396911621px;
  left: 566.6666870117188px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text004 {
  top: 25.83333396911621px;
  left: 695px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-rectangle81 {
  top: 20px;
  left: 960px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.field-text006 {
  top: 27.5px;
  left: 982.5px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-rectangle59 {
  top: 33.33333206176758px;
  left: 535.8333129882812px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle60 {
  top: 33.33333206176758px;
  left: 664.1666870117188px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle66 {
  top: 33.33333206176758px;
  left: 399.1666564941406px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle65 {
  top: 33.33333206176758px;
  left: 800.8333129882812px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle2 {
  top: 1686.6666259765625px;
  left: 0px;
  width: 1200px;
  height: 193px;
  position: absolute;
}
.field-text008 {
  top: 1723.3333740234375px;
  left: 891.6666870117188px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text010 {
  top: 1743.3333740234375px;
  left: 794.1666870117188px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text012 {
  top: 1830.8333740234375px;
  left: 211.6666717529297px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-image141 {
  top: 1740px;
  left: 262.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.field-image151 {
  top: 1723.3333740234375px;
  left: 210px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.field-facebook-circled {
  top: 1798.3333740234375px;
  left: 892.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-linked-in-circled {
  top: 1798.3333740234375px;
  left: 918.3333129882812px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-play-button-circled {
  top: 1798.3333740234375px;
  left: 944.1666870117188px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-circled-envelope {
  top: 1798.3333740234375px;
  left: 970px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u {
  top: 85px;
  left: 0px;
  width: 1200px;
  height: 392px;
  position: absolute;
}
.field-text014 {
  top: 245px;
  left: 490.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 53.33333206176758px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text016 {
  top: 555px;
  left: 266.66650390625px;
  color: rgba(20, 51, 64, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u01 {
  top: 900px;
  left: 242.5px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u02 {
  top: 1330.8333740234375px;
  left: 665px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u03 {
  top: 783.333251953125px;
  left: 140px;
  width: 325px;
  height: 217px;
  position: absolute;
}
.field-text018 {
  top: 928.333251953125px;
  left: 640.83349609375px;
  color: rgba(20, 51, 64, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.field-text025 {
  top: 1414.1666259765625px;
  left: 175.83349609375px;
  color: rgba(20, 51, 64, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: 1.7;
  font-stretch: normal;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.field-text030 {
  top: 771.666748046875px;
  left: 637.5px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text032 {
  top: 1312.5px;
  left: 172.5px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text034 {
  top: 795px;
  left: 637.5px;
  color: rgba(0, 177, 196, 1);
  width: 346px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text036 {
  top: 1335.8333740234375px;
  left: 172.5px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-fieldipad {
  width: 100%;
  height: 1874px;
  display: none;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.field-image142 {
  top: 32.5px;
  left: 72.3330078125px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.field-image152 {
  top: 20px;
  left: 30.666015625px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.field-text038 {
  top: 25.83349609375px;
  left: 335.666015625px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text040 {
  top: 25.83349609375px;
  left: 464px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text042 {
  top: 25.83349609375px;
  left: 592.3330078125px;
  color: rgba(20, 51, 64, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-rectangle811 {
  top: 20px;
  left: 857.3330078125px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.field-text044 {
  top: 27.5px;
  left: 879.8330078125px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-rectangle591 {
  top: 33.33349609375px;
  left: 433.166015625px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle601 {
  top: 33.33349609375px;
  left: 561.5px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle661 {
  top: 33.33349609375px;
  left: 296.5px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle651 {
  top: 33.33349609375px;
  left: 698.166015625px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 1.6666666269302368px;
}
.field-rectangle21 {
  top: 1681px;
  left: -132px;
  width: 1200px;
  height: 193px;
  position: absolute;
}
.field-text046 {
  top: 1717.66650390625px;
  left: 759.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text048 {
  top: 1737.66650390625px;
  left: 662.1669921875px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: right;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text050 {
  top: 1825.16650390625px;
  left: 79.6669921875px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-image16 {
  top: 1734.333251953125px;
  left: 130.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.field-image17 {
  top: 1717.66650390625px;
  left: 78px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.field-facebook-circled1 {
  top: 1792.66650390625px;
  left: 760.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-linked-in-circled1 {
  top: 1792.66650390625px;
  left: 786.3330078125px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-play-button-circled1 {
  top: 1792.66650390625px;
  left: 812.1669921875px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-circled-envelope1 {
  top: 1792.66650390625px;
  left: 838px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u04 {
  top: 85px;
  left: -105px;
  width: 1200px;
  height: 392px;
  position: absolute;
}
.field-text052 {
  top: 245px;
  left: 385.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 53.33333206176758px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text054 {
  top: 569px;
  left: 162px;
  color: rgba(20, 51, 64, 1);
  width: 667px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u05 {
  top: 937.333251953125px;
  left: 147.5px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u06 {
  top: 820.66650390625px;
  left: 45px;
  width: 325px;
  height: 217px;
  position: absolute;
}
.field-text056 {
  top: 965.66650390625px;
  left: 545.83349609375px;
  color: rgba(20, 51, 64, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text063 {
  top: 809px;
  left: 542.5px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text065 {
  top: 832.333251953125px;
  left: 542.5px;
  color: rgba(0, 177, 196, 1);
  width: 346px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u07 {
  top: 1337.3333740234375px;
  left: 560.5px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.field-text067 {
  top: 1420.6666259765625px;
  left: 71.33349609375px;
  color: rgba(20, 51, 64, 1);
  width: 418px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text072 {
  top: 1319px;
  left: 68px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text074 {
  top: 1342.3333740234375px;
  left: 68px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-fieldphone {
  width: 100%;
  height: 2776px;
  display: none;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.field-group16 {
  top: 2476px;
  left: 0px;
  width: 479px;
  height: 300px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(228, 238, 241, 1);
}
.field-image161 {
  top: 55.666748046875px;
  left: 233.5px;
  width: 85px;
  height: 21px;
  position: absolute;
}
.field-image171 {
  top: 39px;
  left: 181px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.field-text076 {
  top: 124px;
  left: 189px;
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text078 {
  top: 154px;
  left: 135px;
  color: rgba(0, 56, 88, 1);
  width: 197px;
  height: auto;
  position: absolute;
  font-size: 11.666666030883789px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-facebook-circled2 {
  top: 225px;
  left: 184px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-linked-in-circled2 {
  top: 225px;
  left: 209.8330078125px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-play-button-circled2 {
  top: 225px;
  left: 235.6669921875px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-circled-envelope2 {
  top: 225px;
  left: 261.5px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.field-group15 {
  top: 259px;
  left: 149px;
  width: 168px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.field-text080 {
  color: rgba(0, 56, 88, 1);
  height: auto;
  position: absolute;
  font-size: 8.333333015441895px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-group17 {
  top: 30px;
  left: 25px;
  width: 427.6666564941406px;
  height: 42.981285095214844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.field-image143 {
  top: 12.398448944091797px;
  left: 187.6669921875px;
  width: 82px;
  height: 20px;
  position: absolute;
}
.field-navlink2 {
  display: contents;
}
.field-image153 {
  top: 0px;
  left: 146px;
  width: 42px;
  height: 43px;
  position: absolute;
  text-decoration: none;
}
.field-rectangle812 {
  top: 4.959379196166992px;
  left: 321px;
  width: 107px;
  height: 38px;
  position: absolute;
  border-radius: 32.5px;
}
.field-text082 {
  top: 12.398448944091797px;
  left: 343.5px;
  color: rgba(0, 110, 133, 1);
  width: 62px;
  height: auto;
  position: absolute;
  font-size: 12.5px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u08 {
  top: 95px;
  left: -361px;
  width: 1200px;
  height: 392px;
  position: absolute;
}
.field-text084 {
  top: 265px;
  left: 159.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text086 {
  top: 265px;
  left: 159.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text087 {
  top: 265px;
  left: 159.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text088 {
  top: 265px;
  left: 159.83349609375px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text089 {
  top: 585px;
  left: 31px;
  color: rgba(20, 51, 64, 1);
  width: 419px;
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: center;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u09 {
  top: 1003px;
  left: 136px;
  width: 290px;
  height: 194px;
  position: absolute;
}
.field-unsplash-fo7-ilwj-ot-u10 {
  top: 910px;
  left: 54px;
  width: 260px;
  height: 174px;
  position: absolute;
}
.field-text091 {
  top: 1345px;
  left: 62px;
  color: rgba(20, 51, 64, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text098 {
  top: 1210px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text100 {
  top: 1233.333251953125px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-unsplash-fo7-ilwj-ot-u11 {
  top: 1731px;
  left: 60px;
  width: 362px;
  height: 241px;
  position: absolute;
}
.field-text102 {
  top: 2109.66650390625px;
  left: 62px;
  color: rgba(20, 51, 64, 1);
  width: 354px;
  height: auto;
  position: absolute;
  font-size: 13.333333015441895px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text107 {
  top: 2008px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 16.66666603088379px;
  font-style: Regular;
  text-align: left;
  font-family: Rounded Mplus 1c;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.field-text109 {
  top: 2031.3333740234375px;
  left: 62px;
  color: rgba(0, 177, 196, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Rounded Mplus 1c Bold;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .field-fieldpc {
    display: none;
  }
  .field-fieldipad {
    display: flex;
  }
  .field-text054 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .field-text056 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .field-text067 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
}
@media(max-width: 479px) {
  .field-fieldpc {
    display: none;
  }
  .field-fieldipad {
    display: none;
  }
  .field-fieldphone {
    display: flex;
  }
  .field-image143 {
    top: 11px;
    left: 50px;
  }
  .field-image153 {
    top: -1px;
    left: 8px;
  }
  .field-text082 {
    top: 16px;
    right: 21px;
  }
  .field-unsplash-fo7-ilwj-ot-u08 {
    top: 205px;
    left: -1px;
    width: 479px;
    height: 345px;
  }
  .field-text084 {
    top: 369px;
    left: 159px;
  }
  .field-text086 {
    top: 150px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .field-text087 {
    top: 125px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .field-text088 {
    top: 100px;
    left: 0px;
    color: rgb(0, 177, 196);
    right: 0px;
    margin: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .field-text089 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .field-text091 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
  .field-text102 {
    line-height: 1.7;
    letter-spacing: 1.5px;
  }
}
